name: Quality
on:
  pull_request:

jobs:
  quality-job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Read .nvmrc
        run: echo "NODE_VERSION=$(cat .nvmrc)" >> $GITHUB_ENV
      - name: Enable Corepack
        run: corepack enable
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          check-latest: true
          cache: 'yarn'
      - name: Configure Yarn to use node_modules
        run: yarn config set nodeLinker node-modules
      - run: yarn
      - run: node -v
      - run: yarn lerna run lint
      - run: yarn lerna run typescript
      - run: yarn lerna run test
