name: Quality
on:
  pull_request:

jobs:
  quality-job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Read .nvmrc
        run: echo ::set-output name=NODE_VERSION::$(cat .node-version)
        id: nvm
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ steps.nvm.outputs.NODE_VERSION }}
          check-latest: true
          cache: 'yarn'
      - run: yarn
      - run: yarn lerna run lint
      - run: yarn lerna run typescript
      - run: yarn lerna run test
      - run: cd example && yarn 
      - name: Install example app JS dependencies
        working-directory: ./example
        run: yarn
      - name: Run lint in example folder
        working-directory: ./example
        run: yarn lint
      - name: Run types check in example folder
        working-directory: ./example
        run: yarn typescript
